<!-- templates/produit/list_produits.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Liste des Produits</h2>
  <table border="1px" class="table table-dark table-striped-columns">
    <thead>
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
     
    </thead>
    <tbody>
      {% for produit in produits %}
        <tr>
          <td>{{produit.id}}</td>
          <td>{{ produit.designation }}</td>
          <td><a href="{% url 'ProdEdit' produit.id %}" class="btn btn-primary btn-sm">Modifier</a></td>
          <td><a href="{% url 'ProdDelete' produit.id %}" class="btn btn-danger btn-sm">Supprimer</a></td>
          
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'ProdCreate' %}" class="btn btn-success">Ajouter un produit</a>
{% endblock %}
